@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf) format('opentype');
}


:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --fonte-sora: 'Sora', cursive;
    --fonte-destaque: 'FonteLogo', cursive;   
}

/* Estilo Geral */
* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

.btn-social {display: none;}
.menu-desk{display: none;}

.logotipo img {
    width: 100px;
}


header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    box-shadow: 1px 1px 4px #000000c9;
}

.top-header {
    padding: 20px 4%;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20px 4%;
}

main p {
    text-align: justify;
}

/* Estilo menu mobile */

.menu-mobile {
    background-color: #0000008c;
    backdrop-filter: blur(10px);
    height: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 83px;
    transition: .5s;
    visibility: hidden;
    width: 40%;
}

.btn-menu-mobile button {
    background-color: transparent;
    border: none;
    font-size: 35px;
    height: 40px;
    width: 40px;
}

.btn-menu-mobile button:hover {
    color: var(--cor4);
    border: 1px solid var(--cor4);
    border-radius: 5px;
}

.menu-mobile nav ul {
    list-style-type: none;
}

.menu-mobile nav a {
    color: var(--cor0);
    display: block;
    font-size: 15px;
    padding: 30px;
    text-decoration: none;
}

.menu-mobile nav a:hover{
    background-color: #000000a9;
    color: var(--cor4);
}

.menu-mobile.abrir{
    visibility: visible;
    height: calc(100vh - 83px);
}

/* Estilo BTN-SOCIAL */

.btn-social button{
    color: var(--cor1);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

.btn-social button:hover {
    background-color: #000;
    color: var(--cor4);
}

/* Estilo Bottom-Header */

.bottom-header .menu-desk nav ul{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bottom-header .menu-desk nav ul li a{
    color: var(--cor0);
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: .3s;
}

.bottom-header .menu-desk nav ul li a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

body p {
    text-indent: 30px;   
}

a.externo::after {
    content: '\00A0\1F517';
}

img.logo {
    width: 90px;
    margin-top: -100px;
    display: block;
    margin-left: auto;
}
main {
    background-color: white;
    min-width: auto;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding: 20px 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
}

main h1 {
    color: var(--cor2);
    font-family: var(--fonte-bebas);
}

main h2 {
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    color: #000;
    font-family: var(--fonte-bebas);
    font-size: 1.3em;
    text-indent: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

main h3 {
    padding: 10px;   
}

main p {
    text-align: justify;
    line-height: 2em;
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor2);
    font-weight: bold;
}

main a {
    background-color: var(--cor4);
    border-radius: 5px;
    color: var(--cor0);
    padding: 3px 10px;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
    color: var(--cor2);
}

div.video {
    background-color: #3b280d;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.fotos {
    background-color: var(--cor2);
    width: 300px;
    padding: 10px;
    display: block;
    margin: auto;
}

p.pcent {
    text-align: center;
}

img.patch {
    width: 50%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562); 
    margin-top: 10px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\1F5F8\00A0';
    columns: 2;
    margin-bottom: 5px;
}

aside h3 {
    background-color: var(--cor2);
    border-radius: 10px 10px 0px 0px;   
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 10px;
}

footer {
    background-color: var(--cor2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

footer .btn-sociais button {
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 40px;
    transition: .8s;
    width: 40px;
}

footer .btn-sociais .instagram:hover {
    background-image: linear-gradient(to right, var(--cor4), rebeccapurple);
    color: #000;
}

footer .btn-sociais .youtube:hover {
    /* background-image: linear-gradient(to right, var(--cor3), transparent); */
    background-color: #000;
    color: red;
}