@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf) format('opentype');
}


:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    /* --cor5: #3b280d; */
    --cor5: #5071D5;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --fonte-sora: 'Sora', cursive;
    --fonte-destaque: 'FonteLogo', cursive;   
}
/* 
:root {
    --cor0: #A3A2A0;
    --cor1: #998363;
    --cor2: #b87b27;
    --cor3: #966520;
    --cor4: #85591C;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-bebas: 'Bebas Neue', cursive;
    --fonte-destaque: 'FonteLogo', cursive;
    
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: var(--fonte-poppins); */
}

.interface {
    margin: 0 auto;
    width: 80vw;
}

.img-logo img {
    width: 100px;
}

.top-header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-header .btn-sociais button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 40px;
    transition: .8s;
    width: 40px;
}

.top-header .btn-sociais button:hover {
    background-color: #FFB128;
    border: 1px solid #000;
    color: #000
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    min-height: 70px;
    text-align: center;
    padding-top: 50px;
    
}

.top-header .titulo  h1 {
    color: white;
    font-family: var(--fonte-sora);
    font-size: 3em;
    text-shadow: 3px 5px 7px rgba(0, 0, 0, 0.445);
}


#burguer {
    color: var(--cor0);
    cursor: pointer;
    background-color: var(--cor5);
    display: block;
    padding-bottom: 10px;
}


nav {
    background-color: var(--cor5);
    padding: 15px;
    height: auto;
}

nav a {
    border-radius: 7px;
    color: var(--cor0);
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

menu {
    display: none;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

body p {
    text-indent: 30px;   
}

a.externo::after {
    content: '\00A0\1F517';
}

img.logo {
    width: 90px;
    margin-top: -100px;
    display: block;
    margin-left: auto;
}
main {
    background-color: white;
    min-width: auto;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding: 20px 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-bebas);
}

main h2 {
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor4);
    font-family: var(--fonte-bebas);
    font-size: 1.3em;
    text-indent: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

main h3 {
    padding: 10px;   
}

main p {
    text-align: justify;
    line-height: 2em;
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    background-color: var(--cor4);
    border-radius: 5px;
    color: var(--cor0);
    padding: 3px 10px;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
    color: var(--cor5);
}

div.video {
    background-color: #3b280d;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.fotos {
    background-color: var(--cor5);
    width: 300px;
    padding: 10px;
    display: block;
    margin: auto;
}

p.pcent {
    text-align: center;
}

img.patch {
    width: 50%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562); 
    margin-top: 10px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\1F5F8\00A0';
    columns: 2;
    margin-bottom: 5px;
}

aside h3 {
    background-color: var(--cor5);
    border-radius: 10px 10px 0px 0px;   
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}