@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > input {
        background-color: rgba(239, 239, 239, 0.8);
        border: none;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        top: 35px;
        width: 300px;
    }

    header > span {
        position: absolute;
        right: 45px;
        top: 35px;
    }
    
    header > p {
        font-size: 0.8em;
        position: absolute;
        right: 10px;
        top: 60px;
    }

}

@media screen and (min-width: 992px) {
    header > input {
        background-color: rgba(239, 239, 239, 0.8);
        border: none;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        top: 45px;
        width: 400px;
    }

    header > span {
        position: absolute;
        right: 60px;
        top: 50px;
    }
    
    header > p {
        position: absolute;
        right: 20px;
        top: 80px;
    }
}

@media screen and (min-width: 1200px) {
    header > input {
        background-color: rgba(239, 239, 239, 0.8);
        border: none;
        border-radius: 5px;
        padding: 15px;
        position: absolute;
        top: 50px;
        width: 800px;
    }

    header > span {
        position: absolute;
        right: 60px;
        top: 50px;
    }
    
    header > p {
        position: absolute;
        right: 20px;
        top: 80px;
    }
} 