@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    font-family: 'Sora', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface {
    max-width: 100vw;
    margin: 0 auto;
}

header {
    background-color: #000;
    width: 100%;
}

.top-header {
    background-color: #fff;
    padding: 10px 4%;
}

.top-header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .logotipo img {
    max-width: 200px;
}

.top-header .btn-header button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
}

.top-header .btn-header button a{
    color: #000;
}

.top-header .btn-header button:hover {
    background-color: bisque;
}